@tailwind base;
@tailwind components;
@tailwind utilities;


/*landing page styles*/
.LandingTitle {
  display: flex;
  align-items: baseline;
  font-family: 'Inconsolata', monospace;
}


.WordBlonde {
  font-size: 64px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #111;
}

.WordInteractive {
  font-size: 40px;
  font-weight: 400;
  margin-left: 30px;
  position: relative;
  top: -18px;
  letter-spacing: 3px;
  color: #6eabb1;
}


/*home page styles */
.MainWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.TopBarLogoContainer {
  display: flex;
  align-items: center;
  text-shadow: 2px 1px 2px #87a5a8;
}

.TopBarContactContainer {
  display: flex;
  align-items: center;
  text-shadow: 2px 1px 2px #87a5a8;
  font-size: 24px;
  font-weight: 900;
}

.ContactDivider {
  width: 10px;
  height: 24px;
  background-color: #87a5a8;
  margin: 0 15px;
  border-radius: 20%;
}

.ContactItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.ContactIcon {
  width: 14px;
  height: 14px;
  object-fit: contain;
  scale: 1.4;
  line-height: 1;
  padding-right: 1px;
}

.Logo {
  display: flex;
  align-items: center;
}

.Logo img {
  width: 70px;
  height: auto;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.TopBar {
  position: relative;
  background: #c2c9c9a6;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
  box-sizing: border-box;

  font-family: 'Inconsolata', monospace;
}

#LogoText {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 4vw;

  #interactive {
    position: relative;
    color: #6eabb1;
    font-size: 24px;
    font-weight: bold;
  };
}

.LogoTextContainer { /*credit to cj from syntax*/
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  position: relative;

  .hidden {
    visibility: hidden;
  }

  .top {
    position: absolute;
    top: 0;
    left: 0;
  }

  a {
    color: #d1fe00;
    font-size: 30px;
    text-decoration: none;
    line-height: 1;
    display: block;
  }

  .bottom {
    position: relative;
    top: 30px;
    left: 0;
  }

  .topLetter,
  .bottomLetter {
    display: inline-block;
    transition-property: transform, opacity;
    transition-duration: 0.4s;
    transition-timing-function: ease;
  }
  .topLetter {
    opacity: 1;
  }

  .bottomLetter {
    opacity: 0;
  }

  &:hover {
    .topLetter {
      transform: translateY(-30px);
      opacity: 0;
    }

    .bottomLetter {
      transform: translateY(-30px);
      opacity: 1;
    }
  }
}

.MainContentArea {
  height: calc(100vh - 80px);
}

.TopBarDividerWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  pointer-events: auto;
  overflow: visible;
}

.TopBarDivider {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: visible;
}

.TopBarDivider path {
  stroke: #87a5a8;
  stroke-width: 5;
  fill: none;
}

